    <table>
        <tr valign="top">
            <td><img src="{{ post.author.avatar(36) }}"></td>
            <td>
                <a href="{{ url_for('user', username=post.author.username) }}">
                    <p style="font-family: Helvetica; color: grey" >&nbsp{{ post.author.username }} says:</p>
                </a>
              <body style="background-color:#ede6ca;">
              <p style="font-family: Helvetica; font-size: 25px"> {{ post.body }} </p>
              <br>
              </body>
            </td>
        </tr>
    </table>
