    <table>
        <tr valign="top">
            <td><img src="{{ post.author.avatar(36) }}"></td>
            <td>
                <a href="{{ url_for('user', username=post.author.username) }}">
                    <p style="font-family: Impact; color: #FA69FF" >{{ post.author.username }} </p>
                </a>
              <body style="background-color:pink;">
              <p style="color: #00FF04">  says:</p><br><p style="font-family: Brush Script MT; font-size: 40px"> {{ post.body }} </p>
              </body>
            </td>
        </tr>
    </table>
