{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.rating() }}</p>
        <div>
        <p>{{ form.submit() }}</p>
    </form>
    <h1 class="title">Feed</h1>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('.rating-icon').click(function() {
        var ratingValue = $(this).data('value');
        $('#hidden-rating-input').val(ratingValue);
        $('.rating-icon').removeClass('selected');
        $(this).addClass('selected');
        $(this).prevAll('.rating-icon').addClass('selected');
    });
});
</script>

  </body>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}
